div.scroll {
  width: 500px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#show-conversion {
  display: none;
}

table {
  width: 100%;
}

#show-conversion table {
  border: 1px solid #ddd;
  padding: 8px;
  background-color: white;
  margin-bottom: 1rem;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

.scroll tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:hover {
  background-color: #ddd;
}
