div.scroll {
  width: 500px;
  height: 80vh;
  overflow-x: hidden;
  overflow-y: auto;
}

form {
  font-size: large;
  text-align: left;
}

table {
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {
  background-color: rgb(210, 143, 42);
}

tr:nth-child(even),
tr:nth-child(odd) {
  background-color: rgb(89, 62, 62);
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: medium;
}

#show-conversion {
  display: none;
  font-size: large;
  border: 3px solid gold;
  padding: 10px;
}

#show-conversion td,
th {
  border: 1px solid gold;
  padding: 8px;
}
